<h1>This is our Contact page </h1>
<p>Find us on facebook here 
<a href= "http://facebook.com">here</a></br>
or on twitter
<a href= "http://twitter.com">here</a></br>
or give us a call >>> +254 7666444  <<<<<
</p>